*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../images/donation5.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    padding: 175px 307px;
}
.title .sub-title{
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Inter';
    padding-bottom: 20px;

}
.sub-title-text{
    color: #FFFFFF;
    padding-bottom: 30px;
}
.btn-primary{
    background-color: #FF5959;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
}

/* Donate Today Styles */

.donate .donate-title{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
}
.donate-description{
    text-align: center;
    margin: 0 400px;
    padding-bottom: 50px;

}
.donate-tk{
    display: flex;
    gap: 30px;
    margin: 0 330px;
    margin-bottom: 50px;
}
.donate-tk .tk{
    background-color:#dfdede;
    padding: 44px 24px;
}
.donate-tk .mark-tk{
    color: #FF5959;
    background-color: #fac8c8;
    padding: 44px 24px;
/* }.amount-tk{
    text-align: center;
    font-size: 18px; */
}
hr{
    margin: 0 350px 0 350px;
}
.donate-btn{
    text-align: center;
    margin-top: 30px;
}
.input{
    border: none;
    /* margin-left: 610px; */
}
.input-tk{
    text-align: center;
}

/* Our Donate Plan Styles */

.donate-plan{
    display: flex;
    gap: 30px;
    margin: 0 220px;
}
.donate-section{
    background: #FFF4D6;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.donate-section img{
    padding-top: 50px;
    padding-left: 28px;
    padding-bottom: 28px;
}
.donate-section .donate-plan-title{
    padding-left: 28px;
    padding-bottom: 16px;
}
.donate-section .donate-plan-description{
    padding-left: 28px;
    padding-bottom: 50px;
}

/* How To Contribute Section 1 */
.contribute-donate{
    display: flex;
    margin: 0 220px;
    margin-top: 80px;
    gap: 30px;
}
.contribute-donate .contribute-image{
    width: 456px;
    height: 450px;
}
.contribute-title{
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.con-description{
    margin-bottom: 20px;
}
.survive{
    margin-left: 30px;
}
/* Get My Updates Styles */
.updates{
    text-align: center;
    margin-top: 130px;
}
.updates .update-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.update-description{
    margin: 0 400px;
}
.container{
    text-align: center;
    background-color: #fac8c8;
    width: 810px;
    height: 200px;
    margin: 0 300px;
    margin-top: 60px;
}
.container-main{
    padding: 90px 50px;
}
input[type=submit] {
    background-color: #FF5959;
    color: white;
    border: none;
}
input[type=text], input[type=submit] {
    padding: 12px;
    border: none
}
/* Footer Section */
.footer{
    background-color: #0B0D17;
    height: 177px;
    margin-top: 80px;
}
.footer-text{
    text-align: center;
}
.footer-title{
    padding-top: 80px;
    color: #FFFFFF;
}
.footer-subtitle{
    color: #FFFFFF;
}